.tile {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #222;
  position: relative;
  image-rendering: pixelated;
}

.tile:hover {
  transform: scale(1.2);
  z-index: 2;
}

/* conteneur des entités */
.entity {
  position: absolute;
  top: 2px;
  left: 2px;
  pointer-events: none;
}